.user-blogs {
    h4:hover {
        cursor: pointer;
        color: rgb(92, 91, 91);
        position: relative;
    }

    h4::after {
        content: "";
        position: absolute;
        // z-index: -1;
        right: 0;
        width: 0;
        bottom: -1px;
        background: rgb(92, 91, 91);
        height: 2px;
        transition-property: width;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }
    h4:hover::after {
        left: 0;
        right: auto;
        width: 90%;
    }
    .user-blogs-card {
        border-radius: 7px;
        border: 2px solid #ccc;
        background-color: white;
    }
}
