@import "_custom.scss";
@import "_writeBlog.scss";
@import "_blog.scss";
@import "_userBlogs.scss";
@import "_loginregister.scss";

* {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    min-height: 100%;
    position: relative;
}

body.light-mode {
    background-color: #eef0f1;
    color: #333;
    transition: background-color 0.25s ease-out;

    .login,
    .register {
        background-color: white;
        transition: background-color 0.25s ease-out;
    }
    .footer,
    .navbar {
        background-color: $dark-blue !important;
        transition: background-color 0.25s ease-out;
    }
}

body.dark-mode {
    transition: background-color 0.25s ease-out;
    background-color: #1a1919;
    color: rgb(54, 54, 54);
    .no-blogs-heading,
    .writeBlog {
        color: white;
    }
    .user-blogs {
        h4 {
            color: white;
        }
        .user-blogs-card {
            border: 1px solid rgb(92, 91, 91);
            background-color: $grey;
        }
    }
    .login,
    .register {
        transition: background-color 0.25s ease-out;
        background-color: #272727;
        h1,
        label {
            color: white;
        }
        box-shadow: 0 0 0 1px #424242;
        .btn {
            background-color: #069;
            border-color: #069;
        }
        input {
            background-color: $grey;
            border: 1px solid #525353;
            color: white;
        }
        .form-control:focus {
            color: black;
            border: 2px solid #171818;
        }
    }
    .footer,
    .navbar {
        background-color: $darkest-black !important;
        transition: background-color 0.25s ease-out;
    }
    .navbar {
        .nav-item {
            button {
                background-color: #525353;
                border-color: #525353;
            }
        }
    }
    .blogs-card,
    .comment {
        background-color: $grey;
        color: white;
        h4 {
            color: #eef0f1;
        }
        .username,
        .date {
            color: rgb(163, 160, 160);
        }
    }
}
.navbar {
    .navbar-nav {
        .nav-item {
            align-self: center;
        }
        .btn {
            background-color: $add-blog;
            border-color: $add-blog;
        }
    }
}

.float-btn {
    &:active {
        transform: scale(0.8) !important;
    }

    transition: all 0.1s ease;
    cursor: pointer;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    z-index: 999;
    text-align: center;
}

a:hover {
    cursor: pointer;
}
.button-link {
    background: none !important;
    border: none;
    color: #069;
    cursor: pointer;
}
textarea {
    height: 100%;
}
Spinner {
    width: 5rem;
    height: 5rem;
}
.pointer {
    cursor: pointer;
}
.footer {
    clear: both;
    position: relative;
    height: 15vh;
    margin-top: 10vh;
    .mongo,
    .react,
    .nodejs,
    .heroku {
        font-size: clamp(16px, 5vw, 24px);
    }
    .mongo {
        color: lightgreen;
    }
    .react {
        color: lightseagreen;
    }
    .nodejs {
        color: green;
    }
    .heroku {
        color: purple;
    }
    a {
        color: rgb(5, 168, 168);
    }
}
